<div class="container">
        <div class="row nav-top">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" title="HOME" onclick="CallHtml('','home/index','renderbody')">
                  <span class="icon icon-home"></span> HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" title="BLOG" onclick="CallHtml('','blog/index','renderbody')"><span class="icon icon-drawer"></span> BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" title="ABOUT" onclick="CallHtml('','about/about','renderbody')"><span class="icon icon-support"></span> ABOUT</a>
              </li>             
            </ul>
          </div>
          <div class="col-md-2"></div>
        </div>
        </div>
        <br/>