
<p><b>Developer by: </b>Mr. Thanakorn Yodphudsa</p>
<p><b><span style="color:peru" class="fa fa-envelope"> E-mail:</span>  </b>thanakorn.noy@gmail.com</p>
<p><b><span style="color:royalblue" class="fa fa-facebook">acebook:</span> </b>Thanakorn Yodphudsa</p>
<h3>EDUCATION</h3>
<hr>
<pre>
    2015 - 2018  Rajamangala University of Technology Isan
                 Bachelor of Engineering (Computer Engineering)
    2013 - 2014  Luangphor Khoon Parisutho Technical College
                 Diploma in Computer Technology
    2009 - 2011  Wangnamkhaewpittayakom School
                 Senior High School
</pre>
<h3>SKILLS</h3>
<hr>
<div class="row">
<div class="col-md-2">
<h5>C# .NET</h5>
<div class="progress" style="width: 100px;height: 10px;">
    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
      <span class="sr-only">70% Complete</span>
    </div>
  </div>
</div>
<div class="col-md-2">
  <h5>Java</h5>
<div class="progress" style="width: 100px;height: 10px;">
    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
      <span class="sr-only">50% Complete</span>
    </div>
  </div>
</div>
<div class="col-md-2">
  <h5>NodeJS</h5>
<div class="progress" style="width: 100px;height: 10px;">
    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
      <span class="sr-only">50% Complete</span>
    </div>
  </div>
  </div>
  <div class="col-md-2">
  <h5>JavaScript</h5>
<div class="progress" style="width: 100px;height: 10px;">
    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%">
      <span class="sr-only">50% Complete</span>
    </div>
  </div>
  </div>
  <div class="col-md-2">
  <h5>HTML</h5>
<div class="progress" style="width: 100px;height: 10px;">
    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:70%">
      <span class="sr-only">50% Complete</span>
    </div>
  </div>
  </div>
  <div class="col-md-2">
  <h5>CSS</h5>
<div class="progress" style="width: 100px;height: 10px;">
    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%">
      <span class="sr-only">50% Complete</span>
    </div>
  </div>
  </div>
  <div class="col-md-2">
  <h5>MS SQL</h5>
<div class="progress" style="width: 100px;height: 10px;">
    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%">
      <span class="sr-only">50% Complete</span>
    </div>
  </div>
  </div>
  <div class="col-md-2">
  <h5>MySQL</h5>
<div class="progress" style="width:100px;height: 10px;">
    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%">
      <span class="sr-only">50% Complete</span>
    </div>
  </div>
  </div>
</div>
  
  <h3>PROJECTS</h3>
  <hr>
  <a href="http://cpe.rmuti.ac.th/project/Exam_Objective/">http://cpe.rmuti.ac.th/project/Exam_Objective/</a>

<div style="margin-bottom: 40px;">.</div>
